<div class="menu">
  <div class="menu-table flex-row-space-between">
    <div class="logo flex-row-center">
      <a href="index.html">Corporate Stock Review</a>
    </div>
    <a class="menu-button" tabindex="0" href="javascript:void(0)">
      <img src="img/menu.png">
    </a>
    <div class="menu-items flex-row-center flex-item">
      <a class="menu-index" href="index.html">Overview</a>
      <div class="dropdown">
        <a class="dropbtn">Dropdown<i class="fas fa-caret-down"></i></a>
        <div class="dropdown-content">
          <a href="index.html">Overview</a>
          <a href="widgets.html">Widgets</a>
        </div>
      </div>
    </div>
  </div>
</div>